<div class='country__container'>
  <img class='country__flag' src='{{flag}}' alt='Flag {{name}}' />
  <div class='country__info'>
    <h2 class='country__name'>{{name}}</h2>
    <ul class='country__list'>
      <li class='country__item'><span>Capital:</span> {{capital}} </li>
      <li class='country__item'><span>Population:</span> {{population}} </li>
      <li class='country__item'><span>Languages:</span>
        {{#each languages}}
          {{this.name}}
        {{/each}}
      </li>
    </ul>
  </div>
</div>